anticaptchaofficial==1.0.53
astroid==2.15.6
async-generator==1.10
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
botocore==1.31.11
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
dill==0.3.7
docutils==0.20.1
exceptiongroup==1.1.2
Flask==2.3.2
gunicorn==20.0.4
h11==0.14.0
idna==3.4
imap-tools==1.1.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
keyboard==0.13.5
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
outcome==1.2.0
packaging==23.1
pandas==2.0.3
platformdirs==3.9.1
py==1.11.0
pycparser==2.21
pylint==2.17.4
pyodbc==4.0.39
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
pml==1.21
regex==2023.6.3
requests==2.31.0
requests-file==1.5.1
s3transfer==0.6.1
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
tomlkit==0.11.8
trio==0.22.2
trio-websocket==0.10.3
urllib3==1.26.16
webdriver-manager==3.9.1
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.6
wheel==0.41.1
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0